@font-face {
  font-family: AlgoFY;
  src: url("./assets/fonts/Fontyou - Algo FY Regular.ttf");
}

@font-face {
  font-family: ArekLatinSemiBoldItalic;
  src: url("./assets/fonts/Rosetta - ArekLatin-SemiboldItalic.ttf");
}